<h1><%= @article.title.titleize %></h1>
<hr />
<h4>Article Title:</h4>
<h4><strong><%= @article.title %></strong></h4>
<br />
<h4>Article Text:</h4>
<div>
  <p><%= @article.text %></p>
</div>
<hr />
<%= link_to 'Back to Index', articles_path, class: 'btn btn-outline-secondary' %>
<%= link_to 'Delete', article_path(@article), method: :delete, class: 'btn btn-outline-danger' %>
